* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: rgb(17, 17, 17);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.nav-items li {
  display: inline;
  padding-right: 4em;
}

.nav-items li a {
  color: white;
  list-style: none;
  text-decoration: none;
}

/*-----------------------------------------Main content*/

main {
  padding-top: 5%;
}

.title {
  font-size: 6rem;
  background-image: url(/Portfolio-eirikmichielsen/project-images/texture-gb82b30a5f_1920.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h1,
h2,
.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.project-title {
  font-size: 2.5em;
}

p,
h3,
.keywords,
a {
  font-family: "Poppins", sans-serif;
}

.keywords {
  font-size: 2em;
  font-weight: 100;
}

.main-navigation,
.header-wraper {
  margin: 1em 5%;
}

/*--------------------------------------Projects*/

.projects {
  padding-top: 5em;
  padding-left: 5%;
  padding-right: 5%;
}

.project-title {
  padding-bottom: 50px;
}

.card-container {
  display: flex;
  flex-direction: column;
  row-gap: 5em;
  padding-bottom: 4em;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 5em;
  background-color: rgb(28, 28, 28);
  border-radius: 2em;
}

.project-image {
  border-radius: 3em 0em 3em;
  width: 37vw;
}

.card-content-wraper {
  color: white;
  padding-top: 3em;
}

.card-icons {
  display: flex;
  gap: 2em;
}

.card-heading {
  font-size: 2em;
  font-weight: 600;
}

.build-info {
  padding: 3em 0em;
}

.build-info > .fa-brands {
  font-size: 2.5em;
}

.card-description {
  width: 55%;
  font-size: 1.3em;
}

.button-wraper {
  display: flex;
  gap: 2em;
  justify-content: flex-start;
  padding-top: 4rem;
}

.git-hub-button,
.live-site-button {
  background-color: rgb(45, 45, 167);
  padding: 0.5em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1em;
  transition: 200ms;
}

.git-hub-button {
  border-radius: 0em 3em 0em 3em;
}

.live-site-button {
  border-radius: 3em 0em 3em;
}

.git-hub-button:hover {
  background-color: rgb(15, 94, 197);
}

.live-site-button:hover {
  background-color: rgb(15, 94, 197);
}

.button-logo {
  font-size: 2em;
}

/*-------------------------------------Media querys*/

@media (max-width: 1900px) {
  .projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5em;
    padding-left: 0;
    padding-right: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: rgb(28, 28, 28);
    border-radius: 2em;
  }

  .card-container {
    display: flex;
    row-gap: 5em;
    padding-bottom: 4em;
    width: 70vw;
  }

  .card-content-wraper {
    padding-left: 3em;
    color: white;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .card-description {
    width: 90%;
  }

  .project-image {
    border-radius: 3em 0em 3em;
    width: 70vw;
  }

  .button-wraper {
    display: flex;
    gap: 2em;
    justify-content: flex-start;
    padding-top: 4rem;
  }
}

@media (max-width: 699px) {
  .header-wraper {
    text-align: center;
  }

  .title {
    font-size: 4rem;
    background-image: url(/Portfolio-eirikmichielsen/project-images/texture-gb82b30a5f_1920.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .keywords {
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
  }

  .nav-items li {
    display: inline;
    padding-right: 1.4em;
  }

  .card-container {
    display: flex;
    row-gap: 5em;
    padding-bottom: 4em;
    width: 100vw;
  }

  .project-image {
    object-fit: cover;
    border-radius: 3em 0em 3em;
    width: 100%;
  }

  .git-hub-button,
  .live-site-button {
    background-color: rgb(45, 45, 167);
    padding: 0.5em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    transition: 200ms;
  }

  .button-wraper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    padding-top: 4rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: rgb(28, 28, 28);
    border-radius: 2em;
    width: 100%;
  }

  .card-content-wraper {
    padding-left: 2em;
    color: white;
    padding-top: 0em;
    padding-bottom: 3em;
  }
}

@media (max-width: 500px) {
  .card-description {
    width: 90%;
    font-size: 1em;
  }

  .title {
    font-size: 2.5em;
  }

  .keywords {
    font-size: 1.2em;
    width: 50%;
  }

  .project-title {
    font-size: 2em;
  }
}
